.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container h2 {
  margin-bottom: 20px;

}

form {
  display: flex;
  flex-direction: column;
  width: 300px;

}

input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border-bottom: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

